@CHARSET "UTF-8";
	.cardList {
	  position: relative;
	  display: inline-block;
	  overflow: hidden;
	  min-height: 280px;
	  max-width: 290px;
	  width: 100%;
	  background-color: #ffffff;
	  color: #2B2B2B;
	  text-align: center;
	  font-size: 16px;
	  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	  margin: 5px 5px 5px 5px;
	  float: left;
	}
	
	.cardList * {
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	}
	
	.cardList .profile-image {
	  padding: 8% 10% 0;
	
	}
	
	.cardList .profile-image img {
	  width: 100px;
	  vertical-align: top;
	  position: relative;
	  border-radius: 50%;
	  margin-left: 25%;
	}
	
	.cardList figcaption {
	  padding: 5% 10% 15%;
	}
	
	.cardList h5 {
	  margin: 0;
	  color: #888;
	  letter-spacing: 1px;
	}
	.cardList h1 {
	  font-size: 450%;
	}
	
	.cardList h3 {
	  font-size: 17px;
	  font-weight: bold;
	  line-height: 24px;
	  margin: 0px auto;
	  overflow: hidden;
	  text-overflow:ellipsis;
	  width: 210px;
	  display: -webkit-box;
	  -webkit-line-clamp: 1;
	  -webkit-box-orient: vertical;
	  word-wrap:break-word;
		
	}
	
	.like {
	  display: block;
	  float: right;
	  background: url('../../img/icon/heart.png');
/* 	  background: url('https://cssanimation.rocks/images/posts/steps/heart.png'); */
	  background-repeat: no-repeat;
	  width: 100px;
	  height: 100px;
	  cursor: pointer;
	}
	
	/* Chrome, Safari, Opera */
	
	@-webkit-keyframes trans {
	  from {
	    background-position: left;
	  }
	  to {
	    background-position: right;
	  }
	}
	/* Standard syntax */
	
	@keyframes slidein {
	  from {
	    background-position: left;
	  }
	  to {
	    background-position: right;
	  }
	}
	
	.heart {
	  -webkit-animation: trans 1s 1;
	  Chrome, Safari, Opera
	  animation: trans 1s 1;
	  -webkit-animation-timing-function: steps(28);
	  animation-timing-function: steps(28);
	  background-position: right;
	}
	
	.heart2 {
	  background-position: right;
	}
	
	#cardPage {
	  width: 1000px;
	  margin: 0px auto;
	}
	
	button {
	  margin-left: 80%;
	}
	
	.custom-radio{
		margin-top:10%;
	}
	
	.custom-radio input[type="radio"] {
	    display:none;
	}
	
	.custom-radio input[type="radio"] + label {
	   	cursor: pointer;
	}
	
	.custom-radio input[type="radio"] + label span {
	    display:inline-block;
	    width:15px;
	    height:15px;
	    margin:-1px 4px 0 0;
	    vertical-align:middle;
	    cursor:pointer;
	    -moz-border-radius: 100%;
	    border-radius:  100%;
	}
	
	/* The trick: border creates same look as the radio button usually have */
	/* remove it to see what happens */
	.custom-radio input[type="radio"] + label span {
	    background-color: #c4c4c4; /* have to be of the same color */
	    border: 4px solid #c4c4c4; /* have to be of the same color */
	}
	
	/* Checked state for radio */
	.custom-radio input[type="radio"]:checked + label span{
	     background-color: #1abc9c;
	}
