div, ul, li, form {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* ul, li {
	list-style: none;
} 
*/

.cDetail {
	width: 100%;
	box-sizing: border-box;
  
}
.cDetail .post {
	border: 3px solid #d8d8d9;
	display: table-cell;
	border-radius: 7px;
	font-size: 14px;
	display: -webkit-box;
}

.cDetail .post textarea {  
  float: left; 
  border: none;
  border-radius: 5px; 
  resize: none; 
  padding: 13px !important;
  font-size: 14px;
  min-height: 170px;
  width: 506px;
}

/* .cDetail .post textarea:active, .mainContent .post textarea:focus {  */
/*   outline: none;  */
/* } */

.cDetail .post .tools { 
  float: left; 
  width: 100%; 
  height: 100%; 
  background-color: #d8d8d9; 
  padding: 10px; 
  box-sizing: border-box; 
}

.cDetail .post .tools ul li {
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.cDetail .post .tools ul li:hover {
	background-color: #FFF !important;
}

/* .icon-addPhotos { background: url(http://i57.tinypic.com/cp02b.png) no-repeat center; } */

img {
	margin-top:1.5%;
}

.cDetail .post .tools ul li a { float: left; width: 100%; height: 100%; }

#detailNoneButton {
	background-color: #1abc9c;
	border: none;
	font-weight: bold;
	color: #FFF;
	padding: 5px 10px;
	border-radius: 3px;
	cursor: pointer;
  	float: right;
}

.cDetail .post textarea::-webkit-input-placeholder { /* WebKit browsers */
    color:    #b4bdcb;
}
.cDetail .post textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #b4bdcb;
    opacity:  1;
}
.cDetail .post textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #b4bdcb;
    opacity:  1;
}
.cDetail .post textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #b4bdcb;
}



/* *, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#page-wrapper {
  width: 650px;
  background: #FFF;
  padding: 1em;
  margin: 1em auto;
  border-top: 5px solid #69c773;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

h1 {
	margin-top: 0;
}

#status {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.open {
  color: green;
}

.closed {
  color: red;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.95rem;
}

ul li {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid #EEE;
}

ul li:first-child {
  border-top: 1px solid #EEE;
}

ul li span {
  display: inline-block;
  width: 90px;
  font-weight: bold;
  color: #999;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sent {
  background-color: #F7F7F7;
}

.received {}

#message-form {
  margin-top: 1.5rem;
}

textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  min-height: 100px;
  margin-bottom: 1rem;
}

button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.6rem 1em;
  color: white;
  margin: 0 0.25rem;
  text-align: center;
  background: #BABABA;
  border-bottom: 1px solid #999;
}

button {
  background: #86b32d;
  border-bottom: 1px solid #5d7d1f;
}

button:hover {
  opacity: 0.75;
  cursor: pointer;
}
 */