div, ul, li, form {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* ul, li {
	list-style: none;
} 
*/

.cDetail {
	width: 100%;
	box-sizing: border-box;
  
}
.cDetail .post {
	border: 3px solid #d8d8d9;
	display: table-cell;
	border-radius: 7px;
	font-size: 14px;
	display: -webkit-box;
}

.cDetail .post textarea {  
  float: left; 
  border: none;
  border-radius: 5px; 
  resize: none; 
  padding: 13px !important;
  font-size: 14px;
  min-height: 200px;
}

/* .cDetail .post textarea:active, .mainContent .post textarea:focus {  */
/*   outline: none;  */
/* } */

.cDetail .post .tools { 
  float: left; 
  width: 100%; 
  height: 100%; 
  background-color: #d8d8d9; 
  padding: 10px; 
  box-sizing: border-box; 
}

.cDetail .post .tools ul li {
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.cDetail .post .tools ul li:hover {
	background-color: #FFF !important;
}

/* .icon-addPhotos { background: url(http://i57.tinypic.com/cp02b.png) no-repeat center; } */

img {
	margin-top:1.5%;
}

.cDetail .post .tools ul li a { float: left; width: 100%; height: 100%; }

.cDetail .post form #btn {
	background-color: #1abc9c;
	border: none;
	font-weight: bold;
	color: #FFF;
	padding: 5px 10px;
	border-radius: 3px;
	cursor: pointer;
  	float: right;
}

.cDetail .post textarea::-webkit-input-placeholder { /* WebKit browsers */
    color:    #b4bdcb;
}
.cDetail .post textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #b4bdcb;
    opacity:  1;
}
.cDetail .post textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #b4bdcb;
    opacity:  1;
}
.cDetail .post textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #b4bdcb;
}


/* 파일 드래그 */
#attach:hover {
	cursor: pointer;
}
#filedrag
{
/* 	display: none; */
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}


pre
{
	width: 95%;
	height: 8em;
	font-family: monospace;
	font-size: 0.9em;
	padding: 1px 2px;
	margin: 0 0 1em auto;
	border: 1px inset #666;
	background-color: #eee;
	overflow: auto;
}

#messages
{
	padding: 0 10px;
	margin: 1em 0;
/* 	border: 1px solid #999; */
}

#progress p
{
	display: block;
	width: 240px;
	padding: 2px 5px;
	margin: 2px 0;
	border: 1px inset #446;
	border-radius: 5px;
	background: #eee url("progress.png") 100% 0 repeat-y;
}

#progress p.success
{
	background: #0c0 none 0 0 no-repeat;
}

#progress p.failed
{
	background: #c00 none 0 0 no-repeat;
}