@CHARSET "UTF-8";
	.ly_wrap {
		z-index: 50;
		position: fixed;	
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.8);
		line-height: 1;
		letter-spacing: -.5px;
		word-break: break-all
	}
	
	.ly_box {
		width: 600px;
		position: absolute;	
		padding: 3% 3% 3%;	
		background-color: #fff;	
		text-align: center;	
	}
	
	.ly_box p {
		font-size: 18px;
		font-weight: bold;
	}
	
	.ly_box button {
		cursor: pointer;
/* 		margin-top: 20%; */
		visibility: visible;
    	padding: 10px 15px;	!important;
	    font-size: 14px;	!important;
	    font-weight: bold;	!important;
	    line-height: 1.2;	!important;
	    border-radius: 3%;	!important;
	    background-color: rgba(254, 254, 254, 0.87);	!important;
	    outline: thin; !important;
	}
	.info {
		margin-left: 2px;
	}
	
	#groupname {
		float: left;
		border: 1px solid #d0d0d0;
	    width: 50%;
    	line-height: 28px;
    	border-radius: 3px;
	}
	
	.setting {
		max-width: 0.3px;
		max-height: 0.3px;
		padding-left: 95%;
	}
	
	
	
