<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:component-scan base-package="kr.co.coily" />
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html; charset=UTF-8</value>
					</list>
				</property>
			</bean>
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html; charset=UTF-8</value>
						<value>application/json; charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	
<!-- log4j interceptor -->
	<mvc:interceptors>
    	<bean class="kr.co.coily.common.logger.LoggerInterceptor"></bean>
    </mvc:interceptors>


 <!-- mail bean -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="hac891234@gmail.com" />
		<property name="password" value="gkckdwls1234" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.smtp.timeout">8500</prop>
				<prop key="mail.debug">true</prop>
			</props>
		</property>
	</bean>
	
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 최대 업로드 파일 사이즈 : 10MB -->
		<property name="maxUploadSize" value="10485760" />
	</bean>
	
	<!-- sha256 암호화  -->
	<bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
  		<constructor-arg name="strength" value="256"></constructor-arg>
	</bean>


	<!-- Interceptor 설정 -->
	<mvc:interceptors>

		<!-- 공통 Interceptor -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/bit-finalT3/index.html" />
			<mvc:exclude-mapping path="/user/loginForm.do" />
			<mvc:exclude-mapping path="/user/joinForm.do" />
			<mvc:exclude-mapping path="/user/login.do" />
			<mvc:exclude-mapping path="/user/conf.do" />
			<mvc:exclude-mapping path="/user/join.do" />
			<mvc:exclude-mapping path="/user/emailCheck.do" />
			<mvc:exclude-mapping path="/user/nickNameCheck.do" />
			<mvc:exclude-mapping path="/user/pswCheck.do" />
			<mvc:exclude-mapping path="/user/encPassword.do" />
			<mvc:exclude-mapping path="/user/findPsw.do" />
			<mvc:exclude-mapping path="/user/updatePassword.do" />
			<mvc:exclude-mapping path="/user/confForm.do" />
			<mvc:exclude-mapping path="/user/confPopupForm.do" />
			<mvc:exclude-mapping path="/user/updatePasswordPage.do" />
			<mvc:exclude-mapping path="/user/goLogin.do" />
			<bean id="commonInterceptor" class="kr.co.coily.interceptor.CommonInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>


	<!-- 메인페이지 이동 
	<mvc:view-controller path="/main/main.do" />
	-->
	
	<!-- 퀴즈 등록 폼 이동 -->
<!-- 	<mvc:view-controller path="/quiz/writeForm.do" view-name="quiz/writeForm" /> -->
	
	
	<mvc:default-servlet-handler />
	<mvc:view-resolvers>
		<mvc:jsp prefix="/WEB-INF/jsp/" suffix=".jsp" />
	</mvc:view-resolvers>

</beans>











